version: 2
updates:
- package-ecosystem: npm
  directory: "/"
  schedule:
    interval: weekly
  open-pull-requests-limit: 10
  groups:
    aws-sdk-dependencies:
      patterns:
        - "*aws-sdk*"
  ignore:
  # because it requires Serverless v4
  - dependency-name: "serverless-offline"
    versions:
    - ">= 14"
- package-ecosystem: github-actions
  directory: "/"
  schedule:
    interval: weekly
  open-pull-requests-limit: 10
