version: 2
updates:
- package-ecosystem: npm
  directory: "/"
  schedule:
    interval: weekly
  open-pull-requests-limit: 10
  groups:
    aws-sdk-dependencies:
      patterns:
        - "*aws-sdk*"
    babel-dependencies:
      patterns:
        - "*babel*"
  ignore:
  # because of ESM
  - dependency-name: got
    versions:
    - ">= 12"
  # because of ESM
  - dependency-name: node-fetch
    versions:
    - "> 2"
  # because of ESM
  - dependency-name: "@octokit/rest"
    versions:
    - ">= 21"
  # because it requires Serverless v4
  - dependency-name: "serverless-offline"
    versions:
    - ">= 14"
- package-ecosystem: github-actions
  directory: "/"
  schedule:
    interval: weekly
  open-pull-requests-limit: 10
